<header>
  <h1 class="logo">SB - Simpla. Banken.</h1>
<nav>
  <ul>
    <li>
      <a href="/accounts">Konton</a>
    </li>
    <li>
      <a href="/index">Hem</a>
    </li>
    <li>
      <a href="/add-account">Lägg till ett nytt konto</a>
    </li>
  </ul>
</nav>
</header>