<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <main>
 

  <div class="welcome-div">
    <h2>Våran bank är den <strong>BÄSTA!</strong></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit dolor alias sit veritatis eaque tenetur sint facere debitis eum magni. Nostrum veniam dolorem assumenda dolore, quod tenetur qui? Quos, labore.</p>
  </div>



  

 </main>
 <%- include("./partials/footer.ejs") %>
</body>
</html>